//BASE COLORS
$bg-color: #F4F2F0;
$base-text-color: #121212;
$link-color: #68B2CF;

//HERO COLORS
$hero-content-color: #fff;
$hero-cta-bg-color : #212121;
$hero-cta-color : #fff;

//BUTTON COLORS
$btn-primary-bg-color: #68B2CF;
$btn-primary-color: #fff;

$btn-secondary-bg-color: #BC9B7D;
$btn-secondary-color: #fff;

//FOOTER COLORS
$footer-top-bg-color: #BC9B7D;
$footer-top-color: #fff;
$footer-btm-bg-color: #121212;
$footer-btm-color: #fff;
