//BASE COLORS
$bg-color: #fcfaf8;
//$bg-color: #F4F2F0;
$base-text-color: #121212;
$link-color: #68B2CF;
$a-hover-color: #B9862C;

//HERO COLORS
$hero-content-color: #fff;
$hero-cta-bg-color : #212121;
$hero-cta-color : #fff;

//BUTTON COLORS
$btn-primary-bg-color: #68B2CF;
$btn-primary-color: #fff;

//$btn-secondary-bg-color: #BC9B7D;
$btn-secondary-bg-color: #B9862C;
$btn-secondary-color: #fff;

//FOOTER COLORS
$footer-top-bg-color: #BC9B7D;
$footer-top-color: #fff;
$footer-btm-bg-color: #121212;
$footer-btm-color: #fff;

$btn-shadow : 0px 3px 17px 1px rgba(128,128,128,0.5);
$btn-shadow-hover : 0px 3px 17px 1px rgba(92, 92, 92, 0.9);
