$black : #212322;
//BASE COLORS
$bg-color: #fcfaf8;
//$bg-color: #F4F2F0;
$base-text-color: $black;
$link-color: #244b5a;
$a-hover-color: #9fcfca;

//HERO COLORS
$hero-content-color: $black;
$hero-cta-bg-color: #d5ba8c;
$hero-cta-color: $black;

$hero-bar-bg-color: #9fcfca ;
$hero-bar-color: $black;

//BUTTON COLORS
$btn-primary-bg-color: #244b5a;
$btn-primary-color: #fff;

//$btn-secondary-bg-color: #BC9B7D;
$btn-secondary-bg-color: #d5ba8c;
$btn-secondary-bg-color-rgba: rgba(213, 186, 140, 1);
$btn-secondary-color: $black;

// FOOTER COLORS
$footer-bg-color: $black;
$footer-color: #fff;

//Cart Hover Menu
$cart-hover-menu-header-footer-bg-color: #545454;
$cart-hover-menu-header-footer-color: #ffffff;

/*//FOOTER COLORS
$footer-top-bg-color: #BC9B7D;
$footer-top-color: #fff;
$footer-btm-bg-color: #121212;
$footer-btm-color: #fff;*/

$btn-shadow: 0px 3px 17px 1px rgba(128, 128, 128, 0.5);
$btn-shadow-hover: 0px 3px 17px 1px rgba(92, 92, 92, 0.9);
