//TODO : move this to breakpoints or delete that file
// start breakpoint vars
$xs: 350px;
$s: 700px;
$m: 1050px;
$l: 1300px;
$xl : 1500px;
// end breakpoint vars

// start @media mixins
@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin s {
  @media (max-width: $s) {
    @content;
  }
}

@mixin m {
  @media (min-width: $s) and (max-width: $m) {
    @content;
  }
}
//TODO no right nav on medium

@mixin under-m {
  @media (max-width: $m) {
    @content;
  }
}

@mixin over-m {
  @media (min-width: $m) {
    @content;
  }
}

@mixin l {
  @media (min-width: $m) and (max-width: $l) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $l) {
    @content;
  }
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    @content;
  }
}
