html,body{
  margin: 0;
  padding: 0;
}
$main-grid-gap: 10px;
$base-top-margin: 2em;

$btn-padding : 1.25em;
$btn-margin: 1em;
$btn-width: 200px;
$btn-width-retina: 200px;

$base-border-radius: 1px;

$left-nav-size: 250px;
$right-nav-size: 75px;

$hero-height: 400px;
