html,body{
  margin: 0;
  padding: 0;
}
$main-grid-gap: 10px;
$base-top-margin: 2em;

$btn-padding : 1.25em;
$btn-margin: 1em;
$btn-width: 220px;
$btn-width-retina: 250px;

$mobile-nav-bar-height: 3em;

$base-border-radius: 1px;

$left-nav-size: 250px;
$left-nav-size-small: 200px;

$right-nav-size: 75px;
$right-nav-size-small: 50px;

$hero-height: 400px;
