@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

$base-font : 'Montserrat', sans-serif;
$base-font-weight: 400;

$secondary-font:  'Montserrat', sans-serif;
$secondary-font-weight: 500;

$header-font : 'Montserrat', sans-serif;
$header-font-weight : 600;

$base-font-size: 12px;
$base-font-size-retina: 18px;
