@import "../variables/variables";

#about-us-header {
  background-image: url('https://assets.fathead.com/find-your-style-images/mcm.jpg');
  background-size: cover;
}

@include xl {
  #about-us-header{
    background-position: center 55%;
  }
}

@include l {
  #about-us-header{
    background-position: center 45%;
  }
}

@include m {
  #about-us-header{
    background-position: center 25%;
  }
}

@include s {
  #about-us-header{
    background-position: center 45%;
  }
}
