@import "../variables/variables";

$choice-margin: 10px;
#find-your-style-header {
  background-image: url("https://assets.fathead.com/find-your-style-images/mcm.jpg");
  background-size: cover;
}
.find-your-style-grid {
  margin: $choice-margin 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: $choice-margin;

  .choice-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 2px solid $btn-primary-bg-color;
    transition: all 0.15s ease-in-out;
    &:hover {
      transition: all 0.15s ease-in-out;
      background-color: $btn-primary-bg-color;
      color: $btn-primary-color;
      box-shadow: $btn-shadow-hover;
    }

    .choice-header {
      margin: 0.25em;
      font-size: 1.25em;
      font-weight: $header-font-weight;
      margin-left: 0.5em;
    }
    .choice-subheader {
      margin: 0 $choice-margin $choice-margin;
    }
    .choice-square-container {
      position: relative;
      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (1 / 1) * 100%;
      }
      > .choice-square {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    /*   .product-grid-item-image {
         height: 200px;
         background-color: red;
         width: 100%;
       }*/
  }
}

.room-choice {
  grid-column: span 2 / auto;
}

.palette-choice {
  grid-column: span 2 / auto;
  .choice-square {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
  }
}

.color-choice {
  grid-column: span 1 / auto;
  .color-choice-header {
    margin: 0.5em;
    font-size: 1.25em;
    font-weight: $header-font-weight;
  }
}

.pattern-choice {
  grid-column: span 2 / auto;
  margin: $choice-margin 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: $choice-margin;
}

@include under-m {
  .find-your-style-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include xl {
  #find-your-style-header {
    background-position: center 55%;
  }
}

@include l {
  #find-your-style-header {
    background-position: center 45%;
  }
}

@include m {
  #find-your-style-header {
    background-position: center 25%;
  }
}

@include s {
  #find-your-style-header {
    background-position: center 45%;
  }
}
