@import "../variables/variables";

#home {
  align-items: center;

  #hero {
    //margin:  0 0 $base-top-margin;
    margin: 0;
    //background-image: url("https://assets.fathead.com/swipe-patterns/shining_sparrows_flat.jpg");
    /*
    background-color: red;
    */
    background-image: url("https://s22.postimg.cc/yek5aq9ox/traditional-_LR_beauty.jpg");
    background-size: cover;
    background-position: center;
    height: $hero-height;
    //TODO : xl height
    position: relative;
    //TODO : CENTER AND BLUR BG ON XXXL
    #hero-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 10px 31px -2px rgba(128, 128, 128, 1);
      background-color: rgba(255, 255, 255, 0.75);
      backdrop-filter: blur(5px);
      border: 1px solid $a-hover-color;
      padding: 1em;
      position: absolute;
      left: 50px;
      top: 100px;
      max-width: 300px;
      // color: $hero-content-color;
      p {
        text-align: justify;
        font-size: 1.25em;
      }
      h2 {
        color: $a-hover-color;
        text-transform: uppercase;
      }
    }
  }

  @include s {
    #hero {
      background-position: left;
      //TODO : FIGURE OUT RESPONSIVE BACKGROUND IMAGE GUIDLINES WITH ELLEN
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      #hero-content {
        left: auto;
        top: auto;
      }
    }
  }
  //TODO : MAKE UNDER M CLASS
  //TODO : MAKE UNDER S CLASS
  @include m {
    #hero {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      #hero-content {
        left: auto;
        top: auto;
      }
    }
  }

  @include xl {
    #hero {
      height: $xl-hero-height;
      background-position: center 65%;
      #hero-content {
      }
    }
  }
}
@include s {
  h2 {
    margin-left: 0.6em;
  }
}

//TODO: CTA HERO AT TOP
#cta-hero-bar {
  width: 100%;
  width: 100%;
  background-color: $hero-cta-bg-color;
  color: $hero-cta-color;
  font-size: 1.25em;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  @include s {
    padding-right: 40px;
    text-align: left;
  }

  #close-hero {
    cursor: pointer;
    font-weight: $header-font-weight;
    position: absolute;
    right: 0.5em;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    font-size: 2em;
  }
}
#hero-bar {
  background-color: $hero-bar-bg-color;
  color: $hero-bar-color;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin: 0.25em;
    padding: 0.25em;
    border-bottom: 1px dotted $hero-cta-color;
    border-top: 1px dotted $hero-cta-color;
  }
  p {
    text-transform: uppercase;
    margin: 0.25em;
    padding: 0.25em;
  }
}

.featured-section {
  margin: 50px 0;
  .home-section-header {
    border-bottom: 2px solid $base-text-color;
    text-align: center;
    padding: 0.5em 0;
  }
}

#featured-artist-grid-container {
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 1em 3em 1em;
  h1 {
    padding: 1.5em 1.25em 0.25em;
  }
  p {
    padding: 0.25em $artist-grid-spacing;
    max-width: 65em;
  }
  .product-grid {
    margin: $artist-grid-spacing;
  }
}

#subheader-grid-container {
  box-sizing: border-box;
  h1 {
    text-align: center;
    padding: 1.5em 1.25em 0.25em;
  }
  p {
    padding: 0.25em $artist-grid-spacing;
    max-width: 65em;
  }
  .product-grid {
    text-align: center;
    text-transform: uppercase;
    .product-grid-item-header {
      letter-spacing: 0.25em;
    }
    .product-grid-item-subheader {
      letter-spacing: 0.15em;
    }
  }
}

@include under-m {
  #subheader-grid-container {
    .product-grid {
      text-align: center;
      text-transform: uppercase;
      .product-grid-item-header {
        letter-spacing: 0;
      }
      .product-grid-item-subheader {
        letter-spacing: 0;
      }
    }
  }
}
