@import "../variables/variables";

#pdp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5em;
  margin: 1.5em 0;

  .pdp-top-content {
  }

  #pdp-image-container {
    grid-column: span 2 / auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $grid-gap-pdp;
    box-sizing: border-box;
    padding: 0;

    #active-image {
      grid-column: span 2 / auto;
    }

    .pdp-image-choice {
      margin-top: $grid-gap-pdp;
      grid-column: span 1 / auto;
    }

    #pdp-image-selection {
      grid-column: span 2 / auto;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: $grid-gap-pdp;
    }
  }

  #pdp-purchase-container {
    grid-column: span 2 / auto;
    h1 {
      margin: 0.5em 0;
    }
    p:first-child {
      margin: 0.5em 0;
    }

    #color-ways-grid {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 0.5em;
      .color-way-grid-item {
        grid-column: span 1 / auto;
        background-color: red;
      }
    }
  }

  //TODO :
  .pdp-full-width-content {
    grid-column: span 4 / auto;
  }

  #accordion-container {
    margin: 2em 0;
    grid-column: span 4 / auto;

    .accordion-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $footer-bg-color;
      cursor: pointer;
      margin: 1em 0;
      user-select: none;
      transition: all 0.15s ease-in-out;
    }
    .accordion-content {
      transition: all 0.15s ease-in-out;
    }
  }
}
.maintain-square-image {
  cursor: pointer;
  box-sizing: border-box;
}
.maintain-square-image.selected {
  border: 2px solid black;
}

@include under-m {
  #pdp {
    #pdp-image-container {
      grid-column: span 4 / auto;
      padding: 0;
    }
    #pdp-purchase-container {
      grid-column: span 4 / auto;
    }
    .mobile-center-pdp-btn {
      display: flex;
      justify-content: center;
    }
  }
}
