@import "../variables/variables";
.btn{
  padding: $btn-padding;
  margin: $btn-margin;
  text-align: center;
  cursor: pointer;
  width: $btn-width;
  box-sizing: border-box;
  align-self: center;
  border-radius: $base-border-radius;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: $btn-shadow;
  transition: all 0.25s ease-in-out;
  &:hover{
   box-shadow: $btn-shadow-hover;
  }
}

@include m{
  .btn{
    width: auto;
  }
}
@include retina{
  .btn{
    //TODO: SHOULD BUTTONS CHANGE ON HIGH RES??!??
   // width: 85%;

    //margin: 1em 7.5%;

    //TODO : Make a mobile class, ie: retina + mobile screen size
  }
}

.primary-btn{
  background-color: $btn-primary-bg-color;
  color: $btn-primary-color;
  &:hover{
    background-color: darken($btn-primary-bg-color, 5%)
  }
}

.secondary-btn{
  background-color: $btn-secondary-bg-color;
  color: $btn-secondary-color;
  &:hover{
    background-color: lighten($btn-secondary-bg-color, 5%)
  }
}

// TODO : make social btns centered with margin to there left
.social-btn{
  //border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  //background-color: $a-hover-color;
  margin: 1em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &:hover{
  }
}

@include m {
  .social-btn{
    width: 35px;
    height: 35px;
  }
}
.social-btn:first-child{
  margin-top: 0;
}

.btn-center-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#help-btn{
  position: fixed;
  right: -12px;
  bottom: -22px;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background-color: $btn-primary-bg-color;
  color: $btn-primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &:hover{
    background-color: darken($btn-primary-bg-color, 5%);
    box-shadow: $btn-shadow-hover;
  }

  img{
    margin-top: -14px;
    width: 45px;
  }
}

@include s {
  #help-btn{
    display: none;
  }
}
