@import "./footer";
@import "./nav";
@import "./grid";
@import "./tooltip";
@import "./global-header";
@import "./buttons";
@import "./type";
@import "./global-header";
@import "./image-helpers";
@import "./videos";
@import "./spacing";
@import "./mobile-nav";
@import "./input";
@import "./transitions";
@import "./selectors";
@import "./modals";
html,
body {
  min-height: 100vh;
}
body {
  font-size: $base-font-size;
  font-family: $base-font;
  font-weight: $base-font-weight;
  background-color: $bg-color;
  color: $base-text-color;
}
