@import "../variables/variables";

.maintain-square-image-container {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }
  > .maintain-square-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    background-size: cover;
  }
}
#active-image .maintain-square-image {
  cursor: default;
}
