@import "../variables/variables";

.calculator-wrap {
  display: flex;
  align-items: center;
  img {
    margin-left: 20px;
    cursor: pointer;
    width: 20px;
  }
}
.add-to-cart.modal {
  .image-bar {
    height: 200px;
    width: 100%;
    text-align: center;
  }
  .modal-wrap {
    text-align: center;
    flex-direction: column;
  }
  .modal-info-wrap {
    padding: 30px 30px;
    max-width: 700px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    .info-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.1em;
      img {
        width: 20px;
      }
    }
  }
  img {
    max-width: 200px;
  }
  .modal-inner {
    width: 100%;
    box-sizing: border-box;
  }
  .modal-inner.top-bar {
    width: auto;
    #added-to-cart {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}
.v--modal {
  top: 0;
}
@include s {
  .v--modal {
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
  }
  .modal-wrap {
    max-height: 20000000px;
  }
}
.add-to-cart.modal {
  @include s {
    .v--modal {
      height: 100vh !important;
    }
    .modal-info-wrap {
      width: 100%;
      padding: 0;
      .info-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        text-align: center;
        img {
          margin-right: 0;
        }
      }
    }
    .button-wrap {
      width: 100%;
      .btn {
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.calculator.modal,
.add-to-cart.modal {
  @include s {
    z-index: 9999;
    width: 100%;
    top: $mobile-nav-bar-height;
    ul {
      margin-bottom: 3em;
    }
  }
  .modal-half {
    img {
      max-width: 100%;
    }
  }
  .modal-wrap {
    max-height: 99999px;
  }
}

.add-to-cart.modal {
  .button-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
  }
}

.top-bar {
  position: relative;
  padding: 20px 20px 5px 20px;
  .title {
    display: inline-block;
  }
  .modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 3em;
    line-height: 20px;
    cursor: pointer;
  }
}

.modal-wrap {
  display: flex;
  height: 100%;
  font-family: $base-text-color;
  @include s {
    display: inline-block;
    height: auto;
    max-height: 80vh;
    width: 100%;
    top: $mobile-nav-bar-height;
  }
  .modal-half {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 100%;
    width: 50%;
    @include s {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .modal-inner {
    padding: 20px;
    .modal-input-group {
      margin: 20px 0;
    }
    .modal-title {
      font-size: 1.25em;
    }
    .modal-number-input {
      width: 75px;
      padding: 5px;
      margin: 5px 0 10px 0;
    }
    .add-wall,
    .remove-wall {
      text-decoration: underline;
      color: $a-hover-color;
      cursor: pointer;
      margin: 10px 0;
    }
    .add-wall {
      @include s {
        margin: 40px 0;
      }
    }

    .total,
    .error {
      font-size: 1.25em;
      margin: 15px 0;
    }
    .total {
      color: green;
    }
    .error {
      color: red;
    }
    .red-border {
      border: 2px solid red;
    }
  }
  .modal-image {
    @include s {
      display: none;
      // width: 100%;
      // position: absolute;
      // height: 100%;
      // top: 0;
      // left: 0;
      // opacity: 0.05;
      // background-repeat: repeat;
      // z-index: 1;
    }
  }
}
