@import "../variables/variables";

#mobile-nav {
  display: none;
}

@include s {
  #mobile-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: $mobile-nav-bar-height;
    width: 100%;
    background-color: $bg-color;
    z-index: 1000;
    box-shadow: 0px 10px 31px -2px rgba(128, 128, 128, 1);
    img {
      padding: .5em;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      max-height: $mobile-nav-bar-height;
    }
  }
}

#right-nav {
  margin-top: $base-top-margin;
  margin-right: 5px;
  width: $right-nav-size;
  position: fixed;
  right: 0;
  top: $top-nav-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
}

#top-nav{
  background-color: $bg-color;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 125px;
  height: $top-nav-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #nav-items{
display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 $right-nav-size  5px;
    box-sizing: border-box;
    border-bottom: 2px solid $btn-primary-bg-color;
    width: 100%;
    box-sizing: border-box;
    div{
      cursor: pointer;
      margin: 10px 20px;
      font-size: 18px;
      font-family: $header-font;
      font-weight: $header-font-weight;
    }

  }
  svg{
    height: 100px;
    margin: 10px 0 0;
  }
}

#left-nav {
  width: $left-nav-size;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  img {
    margin: $base-top-margin 0 1em;
  }
  svg {
    box-sizing: border-box;
    padding: 2em;
    width: 100%;
  }
  .left-menu-item {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: $header-font-weight;
    &:hover {
      color: lighten($a-hover-color, 10%);
    }
  }
  h1 {
    font-size: 3em;
    text-align: center;
    width: 100%;
  }
}

@include s {
  #right-nav {
    display: none;
  }
  #left-nav {
    display: none;
  }
}

@include m {
  #left-nav {
    width: $left-nav-size-small;
  }
  #right-nav {
    width: $right-nav-size-small;
  }
}

#home-link {
  cursor: pointer;
}

$hover-menu-background-color: #fff;
$hover-menu-border: 1px solid #828282;

$hover-menu-cart-top: 10px;
$hover-menu-connector-top: 20px;
$hover-menu-right: 90px;
$hover-menu-right-medium: 70px;

//todo: make top for all menu items
$hover-menu-circle-size: 50px;
$hover-menu-circle-right: 12px;
$hover-menu-icon-right: 25px;

$cart-icon-right: $hover-menu-circle-right + 10px;

$hover-menu-connector-right: ($hover-menu-circle-size/2)+$hover-menu-circle-right;
$hover-menu-connector-width: $hover-menu-right - $hover-menu-connector-right + 1px;

//TODO : FOR THE LOVE OF GOD YOU BETTER MAKE THESE ALL VARS WITH THE REST OF THE MENU STUFF OR I WILL KILL YOU
#cart-hover-menu {
  position: fixed;
  width: 400px;
  border: $hover-menu-border;
  right: $hover-menu-right;
  //TODO: VARIABLES, THIS NEEDS TO BE PROGRAMATIC DUMB ASS
  background-color: $hover-menu-background-color;
  top: $hover-menu-cart-top;
  min-height: 500px;
  box-shadow: $btn-shadow-hover;
  z-index: 2;
  #circle {
    border-radius: 100%;
    height: $hover-menu-circle-size;
    width: $hover-menu-circle-size;
    border: $hover-menu-border;
    position: fixed;
    right: $hover-menu-circle-right;
    top: $hover-menu-connector-top;
    background-color: $hover-menu-background-color;
    box-shadow: $btn-shadow-hover;
    z-index: 2;
  }
  #cart-icon-hover {
    cursor: pointer;
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    top: 28px;
    right: 1.8em;
    //TODO: where does the 1em come from that isn't the icon 1em?/???
    z-index: 3;
  }
  #connector {
    position: fixed;
    top: $hover-menu-connector-top;
    right: $hover-menu-connector-right;
    height: $hover-menu-circle-size;
    width: $hover-menu-connector-width;
    border-top: $hover-menu-border;
    border-bottom: $hover-menu-border;
    background-color: $hover-menu-background-color;
    z-index: 2;
  }
  #cart-hover-menu-content {
    margin: 1em;
    background-color: $bg-color;
    box-sizing: border-box;
    #cart-hover-menu-header {
      width: 100%;
      color: $cart-hover-menu-header-footer-color;
      background-color: $cart-hover-menu-header-footer-bg-color;
      padding: .75em;
      font-size: 1.5em;
      text-align: center;
      box-sizing: border-box;
    }
    #cart-hover-menu-footer {
      margin-top: 1em;
      width: 100%;
      color: $cart-hover-menu-header-footer-color;
      background-color: $cart-hover-menu-header-footer-bg-color;
      padding: .75em;
      font-size: 1.5em;
      text-align: center;
      box-sizing: border-box;
    }

    h1, h2, h3, h4 {
      text-align: center;
      padding: .25em;
      box-sizing: border-box;
    }
  }

}

#cart-hover-connector-shadow {
  position: fixed;
  top: $hover-menu-connector-top;
  right: $hover-menu-connector-right;
  height: $hover-menu-circle-size;
  width: $hover-menu-connector-width;
  border-top: $hover-menu-border;
  border-bottom: $hover-menu-border;
  background-color: $hover-menu-background-color;
  box-shadow: $btn-shadow-hover;
  z-index: 1;
}

#pseudo-space {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.cart-preview-line {

  .cart-preview-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: $cart-item-padding;
  }

  .cart-preview-item-image-container {
    width: 100px;
    position: relative;
    margin: .5em 0;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (1 / 1) * 100%;
    }

    > .cart-preview-item-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: red;
    }
  }
  .cart-preview-item-details{
    margin: .5em 0;
    h4{
      margin: 0;
    }
  }
}

.cart-preview-btn{
  margin-bottom: 1em;
}


// Leftside Menu
$highlight-color: #fff;
$left-menu-wallpaper-top: 181px;
$left-menu-collections-top: 225px;
$left-menu-artists-top: 269px;

$highlight-circle-size: 42px;
$left-menu-circle-left: 4px;
$highlight-padding-top: 12px;
$left-menu-wallpaper-content-top: $left-menu-wallpaper-top + $highlight-circle-size;
$left-menu-collections-content-top: $left-menu-collections-top + $highlight-circle-size;
$left-menu-artists-content-top: $left-menu-artists-top + $highlight-circle-size;
$highlight-left: ($highlight-circle-size/2)+ $left-menu-circle-left;

$left-menu-content-height: 200px;
$left-menu-highlight-width: 750px;
$left-menu-content-left: 200px;
$left-menu-content-width: ($left-menu-highlight-width + $highlight-left -1px) - $left-menu-content-left;

#wallpaper-menu-left-highlight{
  position: fixed;
  top: $left-menu-wallpaper-top;
  padding-top: $highlight-padding-top;
  left:$highlight-left;
  width: $left-menu-highlight-width;
  height: $highlight-circle-size;
  font-weight: $header-font-weight;
  //background-color: $hover-menu-background-color;
  background-color:$highlight-color;
  box-shadow: $btn-shadow-hover;
  box-sizing: border-box;
  z-index: 4;
  cursor: pointer;
  #wallpaper-forward-circle{
    width: $highlight-circle-size;
    height: $highlight-circle-size;
    border-radius: 100%;
    background-color:$highlight-color;
    position: fixed;
    z-index: 3;
    left: $left-menu-circle-left;
    top: $left-menu-wallpaper-top;

  }
  #wallpaper-highlight-copy{
    position: absolute;
    z-index: 4;
    .selected-right-menu-item{
      color: $btn-primary-bg-color;
    }
  }
}
#wallpaper-circle{
  width: $highlight-circle-size;
  height: $highlight-circle-size;
  border-radius: 100%;
  background-color:$highlight-color;
  position: fixed;
  z-index: 3;
  left: $left-menu-circle-left;
  top: $left-menu-wallpaper-top;
  box-shadow: $btn-shadow-hover;

}
$left-wallpaper-menu-padding: 10px;
#left-wallpaper-menu-content{
  top: $left-menu-wallpaper-content-top;
  position: fixed;
  left: $left-menu-content-left;
 // height: $left-menu-content-height;
  width: $left-menu-content-width;
  background-color: $bg-color;
  border: $hover-menu-border;
  z-index: 4;
  //start grid here :
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  .left-wallpaper-grid-inner-group:first-child{
    //border-right: $hover-menu-border;
    //TODO : MAKE THIS NOT FUCKING SUCK
  }
  .left-wallpaper-grid-inner-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    .title{
      grid-column: span 2 / auto;
      font-weight: $header-font-weight;
      text-transform: uppercase;
      font-size: 1.25em;
      padding: $left-wallpaper-menu-padding $left-wallpaper-menu-padding 0 $left-wallpaper-menu-padding;
      margin-bottom: 0;
    }
    .group{
      grid-column: span 1 / auto;
      width: 50%;
      padding: $left-wallpaper-menu-padding;
        .group-item{
          margin-bottom: 5px;
          border-bottom: 1px solid rgba(255,255,255,0);
          cursor: pointer;
          transition: $transition-all;
          &:hover{
            border-bottom: $hover-menu-border;
            transition: $transition-all;
          }
        }
    }
    .left-wallpaper-grid-inner-group-item{

    }

  }
  //TODO: make var left - menu width or something
  .full-width{
    grid-column: span 2 / auto;
    margin-bottom: 10px;
  }
}

#wallpaper-dummy-area{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}


#collections-menu-left-highlight{
  position: fixed;
  top: $left-menu-collections-top;
  padding-top: $highlight-padding-top;
  left:$highlight-left;
  width: $left-menu-highlight-width;
  height: $highlight-circle-size;
  font-weight: $header-font-weight;
  //background-color: $hover-menu-background-color;
  background-color:$highlight-color;
  box-shadow: $btn-shadow-hover;
  box-sizing: border-box;
  z-index: 4;
  cursor: pointer;
  #collections-forward-circle{
    width: $highlight-circle-size;
    height: $highlight-circle-size;
    border-radius: 100%;
    background-color:$highlight-color;
    position: fixed;
    z-index: 3;
    left: $left-menu-circle-left;
    top: $left-menu-collections-top;

  }
  #collections-highlight-copy{
    position: absolute;
    z-index: 4;
    .selected-right-menu-item{
      color: $btn-primary-bg-color;
    }
  }
}
#collections-circle{
  width: $highlight-circle-size;
  height: $highlight-circle-size;
  border-radius: 100%;
  background-color:$highlight-color;
  position: fixed;
  z-index: 3;
  left: $left-menu-circle-left;
  top: $left-menu-collections-top;
  box-shadow: $btn-shadow-hover;

}
#left-collections-menu-content{
  top: $left-menu-collections-content-top;
  position: fixed;
  left: $left-menu-content-left;
  height: 400px;
  width: $left-menu-content-width;
  background-color: $bg-color;
  border: $hover-menu-border;
  z-index: 4;
  //TODO: make var left - menu width or something
}

#collections-dummy-area{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}


#artists-menu-left-highlight{
  position: fixed;
  top: $left-menu-artists-top;
  padding-top: $highlight-padding-top;
  left:$highlight-left;
  width: $left-menu-highlight-width;
  height: $highlight-circle-size;
  font-weight: $header-font-weight;
  //background-color: $hover-menu-background-color;
  background-color:$highlight-color;
  box-shadow: $btn-shadow-hover;
  box-sizing: border-box;
  z-index: 4;
  cursor: pointer;
  #artists-forward-circle{
    width: $highlight-circle-size;
    height: $highlight-circle-size;
    border-radius: 100%;
    background-color:$highlight-color;
    position: fixed;
    z-index: 3;
    left: $left-menu-circle-left;
    top: $left-menu-artists-top;

  }
  #artists-highlight-copy{
    position: absolute;
    z-index: 4;
    .selected-right-menu-item{
      color: $btn-primary-bg-color;
    }
  }
}
#artists-circle{
  width: $highlight-circle-size;
  height: $highlight-circle-size;
  border-radius: 100%;
  background-color:$highlight-color;
  position: fixed;
  z-index: 3;
  left: $left-menu-circle-left;
  top: $left-menu-artists-top;
  box-shadow: $btn-shadow-hover;

}
#left-artists-menu-content{
  top: $left-menu-artists-content-top;
  position: fixed;
  left: $left-menu-content-left;
  height: 400px;
  width: $left-menu-content-width;
  background-color: $bg-color;
  border: $hover-menu-border;
  z-index: 4;
  //TODO: make var left - menu width or something
}

#artists-dummy-area{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
