@import "pages/pages.scss";
@import "global/global.scss";

//DEBUG MODE :
//

/*
div{
  border: 1px solid pink;
}
@include s{
  html{
    border: 5px dashed red;
  }
}

@include m{
  html{
    border: 5px dashed green;
  }
}

@include l{
  html{
    border: 5px dashed yellow;
  }
}

@include xl{
  html{
    border: 5px dashed pink;
  }
}
*/
